################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lib/win32/vs2015/.vs/MagicMirror/v14
